<!-- about -->
<div class="about">
    <div class="container">
        <h3>关于我们</h3>
        <p class="et">山东益德生物科技有限公司是一家专助于微生态领域的健康管理科技公司。
            公司为响应国家“健康中国2030”规划纲要的国策，整合当前国际最前沿的微生态科技资源，聚焦于研发和生产最适合国人体质的微生态健康产品，致力于打造中国最专业的大健康产业集团；以引领国人健康领域消费新理念，提升国人健康生活新方式为己任，公司积极布局大健康产业链，以求为国人同胞提供最科学的微生态健康服务。益生健康、益德相伴！！！</p>
        <div class="about-grid">
            <div class="col-md-4 about-grid"><img src="__IMG__/5.jpg" alt=" " class="img-responsive"/>
                <p>做医药品一样有效的保健品、保健品一样安全的医药品。</p>

            </div>
            <div class="col-md-4 about-grid abt-grid">
                <h2>联系电话</h2>
                <ul>
                    <li><a href="#">0632-867 2896</a></li>
                    <li><a href="#">171 9108 6099</a></li>
                </ul>
                <h2>电子邮件</h2>
                <ul>
                    <li><a href="#">yidejiankang@foxmail.com</a></li>
                </ul>
                <h2>工作时间</h2>
                <ul>
                    <li><a href="#">星期一至星期五 9:00-17:30</a></li>
                </ul>

                <h2>办公地址</h2>
                <ul>
                    <li><a href="#">山东枣庄(国家级)高新区科技中心</a></li>
                </ul>
            </div>
            <div class="col-md-4 about-grid abt-grid1">
                <h1>团队成员的联系方式</h1>
                <div class="banner-bottom-video-grid-left">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion"
                                                           href="#collapseOne" aria-expanded="true"
                                                           aria-controls="collapseOne"> 学术支持 </a></h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body pannel-img">
                                    <p><br/><br/></p>
                                    <ul>贾伟|13561117926|学术支持主讲专家</ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseTwo"
                                                           aria-expanded="false" aria-controls="collapseTwo"> 市场渠道 </a></h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body pannel-img1">
                                    <p><br/><br/></p>
                                    <ul>
                                        <li>戴星|17863722959|大客户渠道经理</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse"
                                                           data-parent="#accordion" href="#collapseThree"
                                                           aria-expanded="false" aria-controls="collapseThree"> 客户服务 </a></h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body pannel-img2">
                                    <p><br/><br/></p>
                                    <ul>
                                        <li>王晴|13012677621|客户服务经理</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->
<script type="application/javascript">
    $("#nav_contact").addClass("active");
</script>