<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <h3>产品画廊</h3>
        <p class="et">{昶优益生菌} // {谓舒益生菌} // {芷敏舒益生菌} // {小分子人参活性肽}</p>
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="testimonials-grid">
                            <div class="col-md-12 testimonials-grid-left">
                                <a href="__ROOT__/product?productName=changyou">
                                    <div class="testimonials-grid-left1"><img src="__IMG__/p-changyou.jpg" alt="昶优益生菌"
                                                                              class="img-responsive"/></div>
                                    <div class="testimonials-grid-right1">
                                        <p><span>昶优益生菌</span>益德成功研制出单位含量高达60亿株/支的益生菌。它活性极强，耐酸、耐氧、耐温并能自我繁殖，被誉为“超级益生菌”。后在多家机构的鼎力支持下，将双歧杆菌、保加利亚乳杆菌、嗜乳酸杆菌等多种益生菌进行科学配伍，形成肠道特效超级益生菌生物制剂。</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonials-grid">
                            <div class="col-md-12 testimonials-grid-left">
                                <a href="__ROOT__/product?productName=weishu">
                                    <div class="testimonials-grid-left1"><img src="__IMG__/p-weishu.jpg" alt=" "
                                                                              class="img-responsive"/></div>
                                    <div class="testimonials-grid-right1">
                                        <p><span>谓舒益生菌</span>通过胃部益生菌的定植进行保护和修复胃粘膜，来达到治疗包括胃炎在内的各种胃部的目的。</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonials-grid">
                            <div class="col-md-12 testimonials-grid-left">
                                <a href="__ROOT__/product?productName=zhiminshu">
                                    <div class="testimonials-grid-left1"><img src="__IMG__/p-zhiminshu.jpg" alt=" "
                                                                              class="img-responsive"/></div>
                                    <div class="testimonials-grid-right1">
                                        <p><span>芷敏舒</span>过敏是一种免疫疾病，是人体内免疫功用失调呈现不平衡的情况。过敏体质患者，在临床上调查的时分，往往发现多种过敏反响性疾病常可见于同一患者，与正常人比较，过敏体质患者血清IgE显着升高，肥大细胞数较多并且细胞膜上的IgE受体也较多。芷敏舒富含降低IgE抗体需补充获得降低血清IgE抗体的抗过敏菌株。</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!--FlexSlider-->
        <link rel="stylesheet" href="__CSS__/flexslider.css" type="text/css" media="screen"/>
        <script defer src="__JS__/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!--End-slider-script-->
    </div>
</div>
<!-- //testimonials -->


<!-- pop-up-script -->
<script src="__JS__/jquery.chocolat.js"></script>
<link rel="stylesheet" href="__CSS__/chocolat.css" type="text/css" media="screen" charset="utf-8">
<!--light-box-files -->
<script type="text/javascript" charset="utf-8">
    $(function () {
        $('.gallery a').Chocolat();
    });
</script>
<!-- //pop-up-script -->
<!-- for-gallery-rotation -->
<script src="__JS__/modernizr.custom.97074.js"></script>
<!-- //for-gallery-rotation -->

<script type="application/javascript">
    $("#nav_gallery").addClass("active");
</script>
