
<!-- pop-up-script -->
<script src="__JS__/jquery.chocolat.js"></script>
		<link rel="stylesheet" href="__CSS__/chocolat.css" type="text/css" media="screen" charset="utf-8">
		<!--light-box-files -->
		<script type="text/javascript" charset="utf-8">
		$(function() {
			$('.gallery a').Chocolat();
		});
		</script>
<!-- //pop-up-script -->
<!-- for-gallery-rotation -->
<script src="__JS__/modernizr.custom.97074.js"></script>
<!-- //for-gallery-rotation -->

<!-- gallery -->
	<div class="gallery">
		<div class="container">
			<h3>Gallery</h3>
			<p class="et">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, 
				consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt 
				ut labore et dolore magnam aliquam quaerat voluptatem.</p>
			<div class="gallery-grids">
				<section>
					<ul id="da-thumbs" class="da-thumbs">
						<li>
							<a href="__IMG__/10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/10.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="__IMG__/11.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/11.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="__IMG__/12.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/12.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="__IMG__/13.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/13.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>	
							<a href="__IMG__/14.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/14.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>
						<li>
							<a href="__IMG__/10.jpg" rel="title" class="b-link-stripe b-animate-go  thickbox">
								<img src="__IMG__/10.jpg" alt="" />
								<div>
									<h5>project</h5>
									<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
								</div>
							</a>
						</li>

						<div class="clearfix"> </div>
					</ul>
				</section>
				<script type="text/javascript" src="__JS__/jquery.hoverdir.js"></script>
				<script type="text/javascript">
					$(function() {
						$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );
					});
				</script>
			</div>
		</div>
	</div>
<!-- //gallery -->
<script type="application/javascript">
    $("#nav_gallery").addClass("active");
</script>
