
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="banner-bottom-grid">
        <div class="banner-bottom-left">
            <div class="banner-bottom-left1">
                <h3>01. 做健康品，为中国人</h3>
                <p>曾几何时“进口”是高端的代名词，国产是低端的同称。是时候改变了，益德专注健康保健品的研发与生产，用最高端的产品为中国人的健康保驾护航。
                </p>
            </div>
        </div>
        <div class="banner-bottom-right">
            <div class="banner-bottom-right1">
                <h3>02. 打造高品质健康生活</h3>
                <p>“安全健康”是追求优质、幸福生活的基础。<br/>人们对拥有高品质生活的认识，已从一味追崇豪宅、名车、奢侈品，转向了关注时尚健康的生活方式。益德为你打造。</p>

            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="banner-bottom-grid">
        <div class="banner-bottom-left banner-bottom-lft1">
            <div class="banner-bottom-left1">
                <h3>03. 大国工匠锤炼精品</h3>
                <p>
                    拥有匠人的专注、极致与幸福。<br/>
                    匠心独运，每一配方的研制均经千锤百炼；以物传心，每一产品的生产均品质沉淀。<br/>
                    唯有不辜负，方能归初心。
                </p>
            </div>
        </div>
        <div class="banner-bottom-right banner-bottom-rit1">
            <div class="banner-bottom-right1">
                <h3>04. 益德，未来会是什么样</h3>
                <p>未来已来,日生不殆<br/>
                    更低碳更环保更健康的未来已经来临，你看到了吗？<br/>让益德引领我们共同探索。

                    <br/>
                </p>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <h3>全球招商进行中 !</h3>
        <p class="et">/无限市场/你我共享/尽收眼底/江山万里/</p>
        <div class="welcome-grids">
            <img src="__IMG__/merchant.jpg" />
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->
<script type="application/javascript">
    $("#nav_home").addClass("active");
</script>
