<!-- news -->
<div class="single">
    <div class="container">
        <div class="single-grid">
            <div class="col-md-8 blog-left">
                <div class="blog-left-grid">
                    <p><span class="hot-title">芷敏舒益生菌</span><br/>
                        过敏是一种免疫疾病，是人体内免疫功用失调呈现不平衡的情况。过敏体质患者，在临床上调查的时分，往往发现多种过敏反响性疾病常可见于同一患者，与正常人比较，过敏体质患者血清IgE显着升高，肥大细胞数较多并且细胞膜上的IgE受体也较多。芷敏舒富含降低IgE抗体需补充获得降低血清IgE抗体的抗过敏菌株。</p>
                    <img src="__IMG__/banner-zhiminshu.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-zhiminshu-1.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-zhiminshu-2.jpg" alt=" " class="img-responsive"/>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 blog-right">
                <h3>产品目录</h3>
                <ul>
                    <li><a href="__ROOT__/product?productName=changyou">昶优益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=weishu">谓舒益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=zhiminshu">芷敏舒益生菌</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //single -->


<script type="application/javascript">
    $("#nav_gallery").addClass("active");
</script>