<!-- news -->
<div class="single">
    <div class="container">
        <div class="single-grid">
            <div class="col-md-8 blog-left">
                <div class="blog-left-grid">
                    <p><span class="hot-title">肠道益生菌</span><br/>
                        益德成功研制出单位含量高达60亿株/支的益生菌。它活性极强，耐酸、耐氧、耐温并能自我繁殖，被誉为“超级益生菌”。后在多家机构的鼎力支持下，将双歧杆菌、保加利亚乳杆菌、嗜乳酸杆菌等多种益生菌进行科学配伍，形成肠道特效超级益生菌生物制剂。
                    </p>
                    <img src="__IMG__/banner-changyou.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-changyou-1.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-changyou-2.jpg" alt=" " class="img-responsive"/>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 blog-right">
                <h3>产品目录</h3>
                <ul>
                    <li><a href="__ROOT__/product?productName=changyou">昶优益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=weishu">谓舒益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=zhiminshu">芷敏舒益生菌</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //single -->


<script type="application/javascript">
    $("#nav_gallery").addClass("active");
</script>