<!-- news -->
<div class="single">
    <div class="container">
        <div class="single-grid">
            <div class="col-md-8 blog-left">
                <div class="blog-left-grid">
                    <p><span class="hot-title">谓舒益生菌</span><br/>
                        通过胃部益生菌的定植进行保护和修复胃粘膜，来达到治疗包括胃炎在内的各种胃部的目的。</p>
                    <img src="__IMG__/banner-weishu.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-weishu-1.jpg" alt=" " class="img-responsive"/>
                    <img src="__IMG__/d-weishu-2.jpg" alt=" " class="img-responsive"/>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-4 blog-right">
                <h3>产品目录</h3>
                <ul>
                    <li><a href="__ROOT__/product?productName=changyou">昶优益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=weishu">谓舒益生菌</a></li>
                    <li><a href="__ROOT__/product?productName=zhiminshu">芷敏舒益生菌</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //single -->


<script type="application/javascript">
    $("#nav_gallery").addClass("active");
</script>