<!-- welcome -->
<div class="welcome">
    <div class="container">
        <h3>专业团队</h3>
        <p class="et">我们相信未来会有越来越多的人，通过探索生命的智慧来获取改变世界的力量！</p>
        <div class="welcome-grids">
            <div class="col-md-6 welcome-grid">
                <div class="welcome-grid-left">
                    <h4>吴大佑</h4>
                    <p>北京某大学特聘教授<br/>
                        益德生物研发负责人</p>
                </div>
                <div class="welcome-grid-right"> <img src="__IMG__/zhuanjia-4.jpg" alt=" " class="img-responsive" /> </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 welcome-grid">
                <div class="welcome-grid-right aliquam"> <img src="__IMG__/zhuanjia-3.jpg" alt=" " class="img-responsive" /> </div>
                <div class="welcome-grid-left non">
                    <h4>罗启华</h4>
                    <p>益德生物生产负责人</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="welcome-grids">
            <div class="col-md-6 welcome-grid">
                <div class="welcome-grid-left">
                    <h4>谭晶晶</h4>
                    <p>益德生物质检工程师</p>
                </div>
                <div class="welcome-grid-right"> <img src="__IMG__/zhuanjia-2.jpg" alt=" " class="img-responsive" /> </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 welcome-grid">
                <div class="welcome-grid-right aliquam"> <img src="__IMG__/zhuanjia-1.jpg" alt=" " class="img-responsive" /> </div>
                <div class="welcome-grid-left non">
                    <h4>牛善北</h4>
                    <p>益德生物采购部经理</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //welcome -->


<script type="application/javascript">
    $("#nav_services").addClass("active");
</script>