<!DOCTYPE html>
<html>
<head>
    <title>{$title}</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="益生菌 冻干粉 生物制药 健康中国 人参肽 保健食品 固态益生菌 固体饮料"/>
    <meta name="description" content="山东益德生物科技有限公司是一家专助于微生态领域的健康管理科技公司。"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //for-mobile-apps -->
    <link href="__CSS__/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script src="__JS__/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet'
          type='text/css'>
</head>

<body>
<!-- banner -->
<div class="banner{$bannerHeight}">
    <div class="container">
        <!-- header -->
        <div class="header">
            <div class="logo"><a href="index.html"><img src="__IMG__/logo.png" alt=" "/>益德生物<span>做健康品，为中国人</span></a>
            </div>
            <div class="top-nav"><span class="menu"><img src="__IMG__/menu.png" alt=" "/></span>
                <ul class="nav">
                    <li id="nav_home"><a href="__ROOT__/index.html">首页</a></li>
                    <li id="nav_gallery"><a href="__ROOT__/gallery.html">产品与服务</a></li>
                    <li id="nav_services"><a href="__ROOT__/services.html">专家团队</a></li>
                    <!--<li id="nav_news"><a href="__ROOT__/news.html">业界资讯</a></li>-->
                    <li id="nav_contact"><a href="__ROOT__/contact.html">联系我们</a></li>
                </ul>
                <!-- script-for-menu -->
                <script>
                    $("span.menu").click(function () {
                        $("ul.nav").slideToggle(300, function () {
                            // Animation complete.
                        });
                    });
                </script>
                <!-- /script-for-menu -->
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //header -->
    </div>
</div>
<!-- //banner -->
{__CONTENT__}
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 footer-grid">
                <h3>合作机构</h3>
                <ul>
                    <li>中国医科大学</li>
                    <li>山东齐鲁医院</li>
                    <li>青岛大学医学院</li>
                    <li>福建康宝莱生物制药</li>
                    <li>江苏锦乔生物科技有限公司</li>
                    <li>中国人民解放军空军军医大学</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h3>全国市场区域</h3>
                <ul>
                    <li>北京中心(京津冀)</li>
                    <li>成都中心(川渝鄂湘)</li>
                    <li>长春中心(黑吉辽蒙)</li>
                    <li>徐州中心(苏鲁豫皖)</li>
                    <li>杭州中心(浙沪闽湘)</li>
                    <li>西安中心(陕甘晋宁)</li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h3>联系方式</h3>
                <ul>
                    <li>山东益德生物科技有限公司</li>
                    <li>全国客服电话 0632-8672896/17191086099</li>
                    <li>山东省枣庄市（国家级）高新区科技中心大厦</li>
                    <li>
                        <div class="footer-grid-right footerAliquam"><img src="__IMG__/yide-wx-dyh.png" alt=" "
                                                                          class="img-responsive"/></div>
                        <div class="footer-grid-right footerAliquam"><img src="__IMG__/yide-wx-fwh.png" alt=" "
                                                                          class="img-responsive"/></div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer-grds">
            <div class="footer-grds-left">
                <ul>
                    <li><a href="__ROOT__/privacy.html">隐私策略 |</a></li>
                    <li><a href="__ROOT__/contact.html">联系我们 |</a></li>
                    <li><a href="__ROOT__/term.html">服务条款</a></li>
                </ul>
                <p>Copyright &copy; 2015. <?php echo config('company_information.full_name')  ?> All rights reserved.
                </p>
            </div>
            <div class="footer-grds-right">
                <ul>
                    <li><a href="#" class="slogan"></a></li>
                </ul>
                <!--<ul>-->
                <!--<li><a href="#" class="fa"></a></li>-->
                <!--<li><a href="#" class="fb"></a></li>-->
                <!--<li><a href="#" class="fc"></a></li>-->
                <!--<li><a href="#" class="fd"></a></li>-->
                <!--</ul>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="__JS__/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>
</html>
