<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h3>patients & Visitors</h3>
                <ul>
                    <li><a href="#">Find a Doctor</a></li>
                    <li><a href="#">Information For patients</a></li>
                    <li><a href="#">Information For visitors</a></li>
                    <li><a href="#">Pay Hospital Bills In Online</a></li>
                    <li><a href="#">Financial Services</a></li>
                    <li><a href="#">Our Commitment to</a></li>
                    <li><a href="#">Quality Care</a></li>
                    <li><a href="#">Events</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>research</h3>
                <ul>
                    <li><a href="#">Reaserch Highlights</a></li>
                    <li><a href="#">Resources For Professionals</a></li>
                    <li><a href="#">Finding Opportunities</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>education & Training</h3>
                <ul>
                    <li><a href="#">Patient Health Library</a></li>
                    <li><a href="#">Residency & Fellowship</a></li>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">Nursing Professional</a></li>
                    <li><a href="#">Development</a></li>
                    <li><a href="#">Professional Training</a></li>
                    <li><a href="#">Professional Development</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h3>community</h3>
                <ul>
                    <li><a href="#">Community Health & Wellness</a></li>
                    <li><a href="#">Community Relations</a></li>
                    <li><a href="#">Community Services & Resources</a></li>
                    <li><a href="#">Community Reports</a></li>
                    <li><a href="#">News & Events</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="footer-grds">
            <div class="footer-grds-left">
                <ul>
                    <li><a href="#">Privacy Policy |</a></li>
                    <li><a href="contact.html">Sitemap |</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
                <p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.cssmoban.com/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
            </div>
            <div class="footer-grds-right">
                <ul>
                    <li><a href="#" class="fa"></a></li>
                    <li><a href="#" class="fb"></a></li>
                    <li><a href="#" class="fc"></a></li>
                    <li><a href="#" class="fd"></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="__JS__/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>